<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ site.url }}/js/bin/materialize.min.js"></script>


<script> // Slider
  // $(document).ready(function(){
  // $('.slider').slider({full_width: false});
  // });
</script>
<script> // Initialize collapse button
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, {full_width: true, duration: 300, indicators: true});
  });
</script>
<script>
  //$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  //$('.modal-trigger').leanModal();
  //});
</script>
<script>
  // $(document).ready(function(){
  //     $('.carousel').carousel();
  // });
</script>
